<div class="blocks" ng-init="newsList.edit(page.id)">
	<div class="column">
		<div class=" box">
			<div class="detals">
			<h1 class="page-title">{{page.title}}</h1>
				<form enctype="multipart/form-data" name="addNews" ng-submit="newsList.add( addNews, newsList.data).edit()">
					<span class="form-label">Заголовок <small>(не менее 6 символов)</small>:</span>
					<input required ng-model="newsList.data.title" class="title" name="title">
					<span class="form-label">Теги:</span>
					<div required input-tags="tags" ng-if="newsList.data.tags" input-tags-add="newsList.data.tags" class="title tags" name="tags" style="margin-bottom:10px"></div>
					<span class="form-label">Описание:</span>			
					<div class="edit"  text-angular="text-angular" name="htmlcontent" ng-model="newsList.data.description" ta-disabled='false' ta-toolbar="[
								['h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
								['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],
								['justifyLeft', 'justifyCenter', 'justifyRight'],
								['insertImage','insertLink', 'insertVideo', 'wordcount', 'charcount']
						]"></div>
					<textarea required name="description" class="description" style="display: none;" ng-model="newsList.data.description"></textarea>

					<div class="afterAndBefore">
						<div ngf-select type="file" class="file-before {{(newsList.data.images.left && newsList.data.images.right == undefined ? 'error' : '')}}" ng-model="newsList.data.images.right" name="rightF" accept="image/*" ngf-max-size="80MB">{{(newsList.data.images.right.name ? newsList.data.images.right.name : 'Файл не загружен')}}</div>
						<div ngf-select class="file-after {{(newsList.data.images.right && newsList.data.images.left == undefined ? 'error' : '')}}" type="file" ng-model="newsList.data.images.left" name="leftF" accept="image/*" ngf-max-size="80MB">{{(newsList.data.images.left.name ? newsList.data.images.left.name : 'Файл не загружен')}}</div>
					</div>

					<div class="dropbox">
						<div ng-repeat="i in newsList.data.images.all" class="images">
							<span class="progress" ng-show="i.progress >= 0">
				 				<div style="width:100%" class="ng-binding">100%</div>
							</span>
							<div class="close" ng-click="newsList.add(false, newsList.data).remove($index)"></div>
							<div ngf-thumbnail="i" ngf-size="{width: 100, height: 100, quality: 0.9}" ngf-as-background="true" class="thumb file"></div>
						</div>
						<div ngf-drop multiple type="file" ngf-select="newsList.data = newsList.add($files, newsList.data).push()" name="file" accept="image/*" ngf-max-size="80MB">
							<div class="loadImages" ng-show="(newsList.data.images.length != 0 ? false : true)">Загрузить изображения</div>
						</div>
					</div>

					<button ng-disabled="(newsList.data.images.all.length != 0 && addNews.$valid && newsList.data.images.all.length != newsList.oldData.images.all && newsList.data.images.all[newsList.data.images.all.length].name == undefined || newsList.data.images.all[newsList.data.images.all.length-1].name != undefined && newsList.data.images.all.length != 0 && addNews.$valid || newsList.data.images.all.length != 0 && addNews.$valid && newsList.data.description != newsList.oldData.description || newsList.data.images.all.length != 0 && addNews.$valid && newsList.data.title != newsList.oldData.title ? false : true) " type="submit">Опубликовать</button>
				</form>
				<a class="delete-submit" ng-click="newsList.delete(newsList.data)">Удалить</a>
			</div>
		</div>
	</div>
</div>
